In [100]:
import pandas as pd
data = pd.read_csv("Studentgrades.csv")
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,Final,12 or above?
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,4,1,1,3,4,11,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,3,1,1,3,2,11,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,2,3,3,6,12,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,2,1,1,5,0,14,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,2,1,2,5,0,13,1

In [101]:
data['school'],_ = pd.factorize(data['school'])
data['sex'],_ = pd.factorize(data['sex'])
data['age'],_ = pd.factorize(data['age'])
data['address'],_ = pd.factorize(data['address'])
data['famsize'],_ = pd.factorize(data['famsize'])
data['Pstatus'],_ = pd.factorize(data['Pstatus'])
data['Medu'],_ = pd.factorize(data['Medu'])
data['Fedu'],_ = pd.factorize(data['Fedu'])
data['Mjob'],_ = pd.factorize(data['Mjob'])
data['Fjob'],_ = pd.factorize(data['Fjob'])
data['reason'],_ = pd.factorize(data['reason'])
data['guardian'],_ = pd.factorize(data['guardian'])
data['traveltime'],_ = pd.factorize(data['traveltime'])
data['studytime'],_ = pd.factorize(data['studytime'])
data['failures'],_ = pd.factorize(data['failures'])
data['schoolsup'],_ = pd.factorize(data['schoolsup'])
data['famsup'],_ = pd.factorize(data['famsup'])
data['paid'],_ = pd.factorize(data['paid'])
data['activities'],_ = pd.factorize(data['activities'])
data['nursery'],_ = pd.factorize(data['nursery'])
data['higher'],_ = pd.factorize(data['higher'])
data['internet'],_ = pd.factorize(data['internet'])
data['romantic'],_ = pd.factorize(data['romantic'])
data['famrel'],_ = pd.factorize(data['famrel'])
data['freetime'],_ = pd.factorize(data['freetime'])
data['goout'],_ = pd.factorize(data['goout'])
data['Dalc'],_ = pd.factorize(data['Dalc'])
data['Walc'],_ = pd.factorize(data['Walc'])
data['health'],_ = pd.factorize(data['health'])
data['absences'],_ = pd.factorize(data['absences'])

In [113]:
X = data.iloc[:, 1:-2].values
y = data.iloc[:, 31].values

In [114]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [115]:
from sklearn.tree import DecisionTreeClassifier
# tree = DecisionTreeClassifier(criterion = 'entropy', max_depth=4, min_samples_leaf=5).fit(X_train,y_train)
my_tree = DecisionTreeClassifier(criterion='entropy', max_depth=5, min_samples_leaf=5).fit(X_train,y_train)

In [116]:
y_pred = my_tree.predict(X_test)

In [117]:
print("The prediction accuracy is: ",my_tree.score(X_test,y_test)*100,"%")

The prediction accuracy is:  73.84615384615385 %

In [118]:
from sklearn.metrics import classification_report, confusion_matrix  
y_pred = my_tree.predict(X_test)

In [119]:
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[32 31]
 [ 3 64]]
             precision    recall  f1-score   support

          0       0.91      0.51      0.65        63
          1       0.67      0.96      0.79        67

avg / total       0.79      0.74      0.72       130

In [11]:
import sklearn
from sklearn.utils import shuffle
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd 
import numpy as np

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [96]:
model = KNeighborsClassifier(9)

In [97]:
model.fit(X_train,y_train)
acc = model.score(X_test,y_test)
print(acc)

0.6307692307692307

In [56]:
from sklearn.naive_bayes import GaussianNB
import numpy as np

In [57]:
X = data.iloc[:, 1:-2].values
y = data.iloc[:, 31].values

In [91]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [92]:
model = GaussianNB()

In [93]:
model.fit(X_train, y_train)

GaussianNB(priors=None)

In [94]:
from sklearn.metrics import classification_report, confusion_matrix  
y_pred = model.predict(X_test)

In [95]:
print(np.mean(y_pred != y_test))
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

0.26153846153846155
[[35 28]
 [ 6 61]]
             precision    recall  f1-score   support

          0       0.85      0.56      0.67        63
          1       0.69      0.91      0.78        67

avg / total       0.77      0.74      0.73       130